---
layout: default
title: Blog
---
<h1>Latest Posts</h1>
I will try to keepo the site up to date with the goings on and thougts about this project. I am totally aware that nobody cairs but I want to keep track of things for me. lol
<ul>
  {% for post in site.posts %}
    <li>
      <h2><a href="\AquaPanix\{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>
<hr>
<nav>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
      {{ item.name }}
    </a>
  {% endfor %}
</nav>
